<p align="center">
<figure class="image">
    <img src="{{ include.url1 }}" alt="{{ include.description1 }}" style="width:48%">
    <img src="{{ include.url2 }}" alt="{{ include.description2 }}" style="width:48%">
    <br>
    <figcaption>{{ include.description }}</figcaption>
</figure>

<!-- <img alt="FIFO-Reinsertion and LRU, small size" src="/assets/posts/2023-06-01-fifo-lru/multi_LRU_FIFO_Reinsertion_1.svg"
    width="48%">
&nbsp; &nbsp;
<img alt="FIFO-Reinsertion and LRU, large size" src="/assets/posts/2023-06-01-fifo-lru/multi_LRU_FIFO_Reinsertion_3.svg"
    width="48%"> -->

</p>